:root {
  /* fonts */
  --main-font: 'raleway';
  --font-size: 16px;
  --line-height: 1.625;

  /* colors */
  --color-accent: #ab8b80;
  --color-active-text: #e7e8ed;
  --color-inactive-text: #7a7b7f;
  --color-bg: #1e1f24;
  --color-bg-accent: #28292e;
  --white: #fff;
  --black: #000;

  /* settings */
  --padding: 50px;
  --container: 1180px;
  --body-bg: #f3f3f3;
  --anime: 0.5s, ease;
}

/* Стилі для body */
body {
  position: relative;
  margin: 0;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--black);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

::placeholder {
  color: #777;
}

:active,
:focus {
  outline-color: var(--color-accent);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
  /* del */
  border: 3px solid orange;
}

.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
